/* colors */
@media (prefers-color-scheme: light) {
    :root {
        --primary: white;
        --secondary: #f8f8ff;
        --border: grey;
        --font-color: black;
        --font-inverted: white;
        --link-color: #1d7484;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: #2b2a33;
        --secondary: #1c1b22;
        --border: black;
        --font-color: white;
        --font-inverted: black;
        --link-color: tomato;
    }
}

html {
    background-color: var(--primary);
}

html * {
    color: var(--font-color);
}

/* fonts */
html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

@media (max-width: 900px) {
    html {
        font-size: 0.8rem;
    }
}

/* fix sizing and remove margins and padding */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body > * {
    padding: 0 2%;
}

@media (min-width: 900px) {
    body > * {
        padding: 0 10%;
    }
}

/* scaffolding */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: space-between;

    margin-top: auto;

    outline: 1px solid var(--border);
    background-color: var(--secondary);
}

/* nav */
nav {
    /* position */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* look */
    background-color: var(--secondary);
    outline: 1px solid var(--border);
}

nav ul {
    display: flex;

    margin: 0px;
    padding: 0px;
}

nav li {
    display: flex;
    align-items: center;

    margin: 0px;
}

nav a {
    padding: 0px 10px 0px 0px;
}

/* headers & paragraphs */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1rem;
    margin-bottom: 1.2rem;

    overflow-wrap: break-word;
    word-wrap: break-word;

    line-height: 1.1;
    font-weight: bold;
}

p {
    margin-top: 0rem;
    margin-bottom: 2rem;
}

/* links */
a {
    text-decoration: none;
    color: var(--link-color);
}
a:hover {
    color: var(--link-color);
}
a:visited {
    /* color: #982c61; */
    color: var(--link-color);
    border-bottom: 2px solid var(--link-color);
}

/* lists & tables */
ul {
    padding-left: 1.4em;
    margin-top: 0px;
    margin-bottom: 2.5rem;
}

li {
    margin-bottom: 0.4em;
}

table {
    text-align: justify;
    width: 100%;

    border-radius: 5px;
    margin-bottom: 10px;

    border: 1px solid var(--border);

    background-color: var(--primary);
}

td,
th {
    padding: 0.5em;
}

th {
    border-bottom: 1px solid var(--border);
}

/* buttons & input */
button {
    /* border: var(--border);
    border-radius: 3px;*/
    padding: 3px;
    color: black;
}

/* cards */
.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 10px;
}

.cards article {
    text-align: center;

    flex-grow: 1;
    flex-basis: 25%;
    min-width: 200px;

    border: 1px solid var(--outline);
    border-radius: 5px;

    /* look */
    background-color: var(--secondary);
}

.cards article * {
    display: inline-block;
    text-align: center;
}

/* apps */
.app {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    padding: 15px;
    border: 1px solid var(--border);
    border-radius: 5px;
    min-width: 320px;

    background-color: var(--secondary);
}

.app article {
    border: 1px solid var(--border);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;

    flex-grow: 1;
    flex-basis: 300px;

    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: stretch;
}

.app ul {
    padding-left: 0;
    padding-top: 5px;
    margin: 0;
}

.app li {
    display: flex;
    justify-content: space-between;
    width: 100%;

    list-style: none;
}

.app li * {
    flex-grow: 50%;
}

.app input {
    text-align: center;
    border: 1px solid var(--border);
}

.app input:is([disabled]) {
    background-color: var(--primary);
}

.app .stat {
    align-self: flex-end;
    max-width: 40px;

    margin-left: 10px;

    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.app .stat:not([disabled]) {
    color: black;
}

.app hr {
    margin-top: 2px;
    margin-bottom: 4px;
}

.app select {
    width: 100%;
}
