/* colors */
:root {
    --primary: white;
    --secondary: #ebebeb;
    --contrast: black;
    --accent: teal;
}
@media (prefers-color-scheme: dark) {
    :root {
        --primary: #313131;
        --secondary: #212121;
        --contrast: white;
        --accent: tomato;
    }
}

html {
    background-color: var(--primary);
}

html * {
    color: var(--contrast);
}

/* fonts */
html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

@media (max-width: 899px) {
    html {
        font-size: 0.8rem;
    }
}

/* fix sizing and remove margins and padding */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
}

body>* {
    padding: 0 2%;
}

@media (min-width: 900px) {
    body>* {
        padding: 0 10%;
    }
}

/* scaffolding */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

footer {
    display: flex;
    justify-content: space-between;

    margin-top: auto;
}

hr {
    color: var(--contrast);
    margin-top: 0.12rem;
    margin-bottom: 0.3rem;
}

span {
    display: flex;
    justify-content: center;
    gap: 0.2rem;
}

/* nav */
nav {
    /* position */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    /* look */
    /* background-color: var(--darker);
    outline: 1px solid var(--secondary); */
}

nav ul {
    display: flex;

    margin: 0px;
    padding: 0px;
}

nav li {
    display: flex;
    align-items: center;

    margin: 0px;
}

nav a {
    padding: 0px 10px 0px 0px;
}

/* headers & paragraphs */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1rem;
    margin-bottom: 1.2rem;

    overflow-wrap: break-word;
    word-wrap: break-word;

    line-height: 1.1;
    font-weight: bold;
}

p {
    margin-top: 0rem;
    margin-bottom: 1rem;
}

/* links */
a {
    text-decoration: none;
}
a:hover {
    color: var(--accent);
}
a.current {
    color: var(--accent);
    text-decoration: underline wavy var(--accent) 0.08rem;
    text-underline-offset: 0.2rem;
}
a.highlight {
    color: var(--accent);
}

/* lists & tables */
ul {
    padding-left: 1.4em;
    margin-top: 0px;
    margin-bottom: 2.5rem;
}

li {
    white-space: nowrap;
    margin-bottom: 0.4em;
}

table {
    overflow-x: auto;
    text-align: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--primary);
    border-radius: 0.5rem;
    border-spacing: 0px;
    box-shadow: var(--secondary) 0px 8px 24px;
    overflow: scroll;

    background-color: var(--secondary);
}

table tbody,
table thead {
    width: 100%;
}

td,
th {
    /* overflow: scroll; */
    text-overflow: ellipsis;
    padding: 0.4rem;
    font-size: 0.9rem;
    border-top: 1px solid var(--primary);
}

thead,
tbody {
    margin: 0;
    padding: 0;
}

/* buttons & input */
button {
    /* border: var(--secondary);
    border-radius: 3px;*/
    margin: 0rem 0rem 0.3rem 0rem;
    padding: 0rem 0.3rem 0.1rem 0.3rem;
    color: black;
}

label {
    display: inline-block;
    user-select: none;
    text-align: right;
}

input {
    width: auto;
    margin: 0rem 0rem 0rem 0rem;
    color: black;
}

select {
    width: 100%;
    margin: 0rem 0rem 0.2rem 0rem;
    color: black;
}

select option {
    overflow: hidden;
    color: black;
}

/* cards */
.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1.5rem;
}

.cards * {
    flex-basis: 30%;
}

.cards article {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    text-align: center;
    flex-basis: 20%;
    padding: 0.8rem 0rem 0.9rem 0rem;

    border: 1px solid var(--secondary);
    border-radius: 1rem;
    box-shadow: var(--secondary) 0px 8px 24px;

    /* look */
    background-color: var(--secondary);
}
.cards article:hover {
    border: 1px solid var(--accent);
}

.cards article * {
    display: inline-block;
    text-align: center;
}

/* apps */
.app {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;

}

.app article {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    gap: 0px;

    padding: 10px;
    border: 1px solid var(--secondary);
    border-radius: 0.5rem;
    box-shadow: var(--secondary) 0px 8px 24px;

    background-color: var(--secondary);
}

.app article>* {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    text-align: center;
}

.app article input {
    text-align: center;
    appearance: textfield;
}

.app article select {
    max-width: 200px;
}

.app article input[type="number"] {
    width: 45px;
}

.app ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    list-style-type: none;
}

.app li {
    display: flex;
    justify-content: space-between;
    word-wrap: break-word;
}
